---
layout: default
title: Blog
---

<div class="posts">
{% include pagination.html %}
<br>
  <hr>
  <!-- <br> -->
  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-img">
      <a href="{{ site.baseurl }}{{ post.url }}">
      <img src={{post.img}} alt="post_test_img" src="{{ site.baseurl }}{{ post.url }}">
      </a>    
    </div>
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    <span class="post-date" style="float:right;">{{ post.date | date_to_string }}</span>
    </h2>

    <div class="post-desc">
      {{ post.desc }}
    </div>
    
    <div style="clear:left;"> </div>
    <hr>
  </div>
  {% endfor %}
</div> 
 <!-- Start of StatCounter Code for Default Guide -->
Total visits:
<script type="text/javascript">
var sc_project=11553218; 
var sc_invisible=0; 
var sc_security="55ea133f"; 
var sc_text=2; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="http://statcounter.com/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11553218/0/55ea133f/0/" alt="Web
Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<a href="http://statcounter.com/p11553218/?guest=1">(Powered by Statcounter)</a>
<div style="clear: left;" class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

