<!-- <link rel="stylesheet" href="lanyon.css"> -->

<div class='blog-wrapper'>
	<div class='blog-index'>
		<div style='color:#b3b3cc'>______<em>Blog index</em>______</div>
		
		<strong>Machine learning</strong></br>
			<a href='https://dunglai.github.io/2017/06/10/image-compression/'>1. Image Compression Application</a></br>
			<a href='https://dunglai.github.io/2017/06/01/k-means/'>2. K-Means Clustering</a></br>
		<strong>Toy Program</strong></br>
			<a href='https://dunglai.github.io/2017/03/10/music-player/'>1. Music Player with GUI (pascal)</a></br>
			
</div>