<!-- <link rel="stylesheet" href="lanyon.css"> -->

<div class='blog-wrapper'>
	<div class='blog-index'>
		<div style='color:#b3b3cc'>______<em>Blog index</em>______</div>
		
		<strong>Machine learning</strong></br>
			<a href='https://dunglai.github.io/2017/09/21/FlappyBirdAI/'>3. AI for flappy bird</a></br>
			<a href='https://dunglai.github.io/2017/06/10/image-compression/'>2. Image Compression</a></br>
			<a href='https://dunglai.github.io/2017/06/01/k-means/'>1. K-Means Clustering</a></br>
		<strong>Other</strong></br>
			<a href='https://dunglai.github.io/2017/05/27/Planetary-Rover/'>2. Planetary Rover Game</a></br>
			<a href='https://dunglai.github.io/2017/03/10/music-player/'>1. Music Player</a></br>
			
</div>