<link rel="stylesheet" href="lanyon.css">

<div class='blog-wrapper'>
	<div class='blog-index'>
		<div style='color:#b3b3cc'>______<em>Index</em>______</div>
		
		<strong>Machine learning</strong></br>
			<a href=''>1. Gradient Descent</a></br>
			<a href=''>2. K-nearest neighbor</a></br>
		<strong>rong Numpy, người ta thường dùng mảng numpy hai chiều để thể hiện một ma trận. Mảng hai chiều có thể coi là một mảng của các mảng một chiều. Trong đó, mỗi mảng nhỏ một chiều tương ứng với một hàng của ma trậ</strong> </br>
			<a href=''>3Trong Numpy, người ta thường dùng mảng numpy hai chiều để thể hiện một ma trận. Mảng hai chiều có thể coi là một mảng của các mảng một chiều. Trong đó, mỗi mảng nhỏ một chiều tương ứng với một hàng của ma trận.</a>
	</div>
</div>