input {
	max-width: 100%;
	max-height: 100%
}

.main-body {
	margin-left: 80px;
	margin-right: 80px;
}

.interface {
	position: relative;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 800px;
	max-width: 800px;
	height: 400px
}

#youtubeVideo {
	padding-right: 10px;
	padding-bottom: 6px;
	position: relative;
	float: left;
}

#description {
	float:left;
	max-width: 236px;
}

#title {
	text-align: center;
	font-size: 200%;
}