 

.main-body {
	margin-left: 80px;
	margin-right: 80px;
	float: left;
}

.left-body {
	float:left;	
	margin-right: 10px;
}

.interface {
	border-width: thin;
	border-size: 0.1px;
	border-style:solid;
	border-color: black;
	position: relative;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 800px;
	height: 400px
}

#youtubeVideo {
	border-width: thin;
	border-size:2px;
	border-style:solid;
	border-color:black;
	text-align: center;
	width: 560px;
	height: 315px;
	margin-right: 10px;
	margin-bottom: 6px;
	position: relative;
	float: left;
}

#description {
	float:left;
	max-width: 220px;
}

#title {
	text-align: center;
	font-size: 200%;
}

input[type="radio"] {
  box-shadow:
    inset 0 0 0 .1em black,
    0 0 0 .1em;
  border-radius: 10000%;
  transition: .2s;
  cursor:pointer;
  color: #363945;	
  
}

.right-body {
	margin-top: 6px;
	height: 100%;
	min-width: 250px;
	max-width: 800px;
  /*border: 1px solid black;*/
  background-color: gray;
  overflow: hidden;
  font-size: 1em;
}

#map {
	position: absolute; 
	width: 800px; 
	height: 400px; 
	z-index: -1
}

@media (max-width: 1281px) {
	.right-body {
		margin-left: 0;
		margin-right: 0;
	}

	.main-body {
		margin-right: 0;
		margin-left: 0;
	}

	#youtubeVideo {
		margin-left: 0;
		/*margin-right: 0;*/
	}
}
