input {
	max-width: 100%;
	max-height: 100%
}

.main-body {
	margin-left: 80px;
	margin-right: 80px;
}

.interface {
	position: relative;
	padding-bottom: 6px;
	width: 800px;
	height: 400px
}

#youtubeVideo {
	position: relative;
	float: left;
}


