* {
	padding: 0;
	margin: 0;
}

#menu_text {
	background-color:  #1abc9c;
	text-align: center;
	padding: 80px;
}

nav {
	background-color: #333;
	padding: 14px 20px;
}

nav a {
	color: white;
	padding: 14px 20px;
	/*display: block;*/
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	background-color: #DDD;
	color: black;
}